*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin-left: 40px;
    margin-right: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    background-color: rgb(48, 151, 186);
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

body{
    background-image: url(Imagenes/fondo.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    background-color: rgb(211, 82, 240);
    height: 45px;
}

img{
    width: 100%;
    margin: auto;
}

.logo{
    width: 400px;
}

.logo img{
    border-radius: 50%;
    border: 2px solid rgb(255, 0, 144);
}

.row{
    display: flex;
    gap: 50px;
    background-color: rgba(30, 1, 41, 0.3);
    font-style: italic;
    margin: 20px;
    padding: 20px;
}

.dos{
    width: 45%;
}
.galeria{
    display: flex;
    flex-wrap: wrap;
}
.galeria img{
    width: 200px;
    border-radius: 20px;

}
